<!DOCTYPE html>
<html ng-app="factory-page">
<head>
    <meta charset="utf-8" />
    <title>Factory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="factory.js"></script>
</head>
<body ng-controller="FactoryCtrl">
<h4>All Orders</h4>
<span class="gallery-option-set" id="filter" data-option-key="filter">
    <a class="btn btn-default btn-xs active" ng-click="getOrdersByStatus('Received')">Order is ready to be sent</a>
    <a class="btn btn-default btn-xs active" ng-click="getOrdersByStatus('Sent')">Sent to a customer</a>
    <a class="btn btn-default btn-xs active" ng-click="getOrdersByStatus('Delivered')">Delivered</a>
</span>
<div>
    <div  ng-repeat="order in customerOrder">
        <br><br>
        <div style="display: grid; grid-template-columns: 2fr 1fr">
            <div>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    </thead>

                    <tr ng-repeat="pr in order.orderProducts" ng-repeat="or in order.orderItems">
                        <td ng-bind="pr.productName"></td>
                        <td ng-bind="pr.productDescription"></td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <th>Quantity</th>
                    <th>Price</th>
                    </thead>

                    <tr ng-repeat="or in order.orderItems">
                        <td ng-bind="or.quantity"></td>
                        <td ng-bind="or.price"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="display: grid; grid-template-columns: 1fr 1fr">
            <div>
                <ul>
                    <li>Date: <span ng-bind="order.date"></span></li>
                    <li>Total Price: <span ng-bind="order.totalPrice"></span></li>
                    <li>Payment Method: <span ng-bind="order.paymentMethod"></span></li>
                    <li>Status: <span ng-bind="order.status"></span></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>Customer ID: <span ng-bind="order.customer.customerId"></span></li>
                    <li>Contact Number: <span ng-bind="order.customer.contactNumber"></span></li>
                    <li>Email Address: <span ng-bind="order.customer.email"></span></li>
                    <li>Organization Name: <span ng-bind="order.customer.organizationName"></span></li>
                </ul>
            </div>
        </div>

        <button ng-if="order.status == 'Received'" ng-click="sent(order)" type="button" class="btn btn-warning">Отправлено</button>
        <button ng-if="order.status == 'Sent'" ng-click="sent(order)" type="button" class="btn btn-warning">Получено</button>
    </div>
</div>

<div>
    <br><br>
    <h2 style="text-align: center">All Products</h2>
    <div class="row">
        <div class="col-log-12">
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="fil" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-repeat="category in categoryList" ng-click="getProductsByCategory(category.categoryId)">{{category.categoryName}}</a>
                </span>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th></th>
        <th>Model Name</th>
        <th>Serial Number</th>
        <th>Factory Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Date</th>
        </thead>
        <tr ng-repeat="product in productList" >
            <td ng-click="addQuantity(product)"><button class="btn btn-danger btn-md">ADD</button></td>
            <td ng-bind="product.model.modelName"></td>
            <td ng-bind="product.model.serialNumber"></td>
            <td ng-bind="product.factory.factoryName"></td>
            <td ng-bind="product.productName"></td>
            <td ng-bind="product.productDescription"></td>
            <td ng-bind="product.price"></td>
            <td ng-bind="product.quantity"></td>
            <td ng-bind="product.creationDate"></td>
        </tr>

    </table>
</div>
</body>
</html>